* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img,
video {
  display: block;
  max-width: 100%;
}

body {
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
  background: #E9E9E9;
  color: #000;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px; /* 120% */
}

header {
  display: flex;
  padding: 20px 50px;
  justify-content: space-between;
  align-items: center;
}


.main-nav {
border-radius: 32px;
background: #FFF;
display: flex;
padding: 20px 30px;
gap: 20px;  
}

.tools {
  display: flex;
}
.language{
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #FFF;
  padding: 20px;
  
}
.contact{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFF;
  border-radius: 32px;
  padding: 20px;
}